/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

/* Cabeçalho */
header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.topo{ 
   color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
    background: #ffffff;    
   
}

.largura-limitada{
    max-width: 1024px;      
}


.container-logo img{  
    width: 70px;
    height: 70px;   
}

/* Barra de navegação */
nav a {
    color: #0073A8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover{
    color: #FFC107;
}



/*Secão de banner*/
.secao-banner{
    color: #ffff;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/fundo-2.JPG');
    background-position: center;
    background-size: cover;
}

.secao-banner h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
}

.secao-contacto{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFC107;
    border-radius: 20px;
    display: flex;
    letter-spacing: 1px;
    /*position: relative;
    right: 140px;*/
    
}

.secao-contacto a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Monseratt', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.secao-contacto:hover{
	 background-color: #e0a800;
}

.secao-contacto img{
    width: 20px;
}

/* Secão Sobre */
.secao-sobre{
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
       
}

.img-sobre img{
    width: 500px;
    height: 500px;
}

.texto-sobre{
    width: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

/* Secão Destino Turistico */
.secao-destino-turistico {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.titulo-destino{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0 20px 0;
}

.card {
    padding: 20px;
    text-align: center; 
}

.card img {
    width: 200px;
    height: 200px;
   
}
.card h3 {
    color: #0077b6;
    font-family: 'Montserrat', sans-serif;
}

.card P{
    font-family: 'Lato', sans-serif;
    
}

/* Secão Serviços */
.secao-servicos {
    
    background-image: url('assets/20210117_124509.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    gap: 20px; /* Espaçamento entre o título e os cards */
}


.secao-servicos h2 {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento entre o título e os cards */
    font-size: 24px;
    color: #ffffff;
}

.secao-servicos .cards {
    display: flex; /* Organiza os cards em linha */
    flex-direction: row;
    /*justify-content: space-around; /* Espaça os cards uniformemente */
    /*gap: 10px; /* Espaçamento entre os cards */
    width: 100%; /* Garante que os cards ocupem toda a largura disponível */
    max-width: 1024px;
   
}

.secao-servicos .cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 300px;
    margin: 0 auto;
}



.secao-servicos hr {
    width: 75%; /* Define a largura da linha */
    border: 0.2px solid #ffffff; /* Cor e espessura da linha */
    margin: 20px auto; /* Centraliza a linha e adiciona espaçamento */
}

/*.secao-servicos .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC107;  Cor de fundo do botão 
    color: #ffffff;  Cor do texto 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;  Bordas arredondadas 
    margin-top: 20px;  Espaçamento acima do botão 
}
.secao-servicos .button:hover {
    background-color: #e0a800;  Cor ao passar o mouse 
}

/* Secão Galeria */
.galeria {
    text-align: center;
    padding: 50px 20px;
    background: white;
}

.galeria h2 {
    font-family: 'Montserrat', sans-serif;
}

.grid-galeria {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.grid-galeria img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Secão Contato */
.contacto{
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    color: #0077b6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #c9a227;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

/* Rodapé */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}